<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :price_id %><br />
    <%= f.number_field :price_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%= link_to "Home Page", root_path %>
<li> <%= link_to "Back to Maintenance Page", maintenance_maintview_path %> </li>
<% end %>
