<p id="notice"><%= notice %></p>
<center>
<p>
  <b>Book name:</b>
  <%= @book.book_name %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Year Published:</b>
  <%= @book.published %>
</p>

<p>
  <b>Genre:</b>
  <%= @book.genre %>
</p>

<p>
  <b>Book:</b>
  <%= @book.book_id %>
</p>
</ center>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

